ion-menu {
  --width: 240px;
}

ion-split-pane {
  --side-width: 30px;
}

ion-toolbar {
  --background:#171717;
  --color:white;
}

ion-content {
  --background:#0d0d0d;
}

ion-item {
  margin:8px;
  border-radius: 10px;
}

ion-icon {
  margin: 20px;
}

.logo {
  height: 70px;
  padding: 10px 20px;
}

.network-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
  text-align: center;
  z-index: 11;
  font-weight: bold;
}

.offline {
  background: #c02424;
  color: white;
}

.online {
  background: #1b6b4f;
  color: white;
}