<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Search</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar>
        <ion-searchbar placeholder="Search anime..." (ionInput)="handleSearchAnime($event)" [debounce]="500" show-clear-button="always"></ion-searchbar>
    </ion-toolbar>

    <ion-grid>
        <ion-row>
            @for (anime of results; track anime.mal_id) {
                
                <ion-col size="6" size-md="3" size-lg="2">
                    <app-anime-card [anime]="anime"></app-anime-card>
                </ion-col>
            }
        </ion-row>
    </ion-grid>

</ion-content>
