<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Search</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-toolbar>
        <ion-searchbar placeholder="Search anime..." (ionInput)="handleSearchAnime($event)" [debounce]="500" show-clear-button="always"></ion-searchbar>
    </ion-toolbar>

    <ion-list>
        @for (anime of results; track anime.mal_id) {
            <ion-item>
                <ion-label>{{ anime.title }}</ion-label>
            </ion-item>
        }
    </ion-list>

</ion-content>
