<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home</ion-title> 
    </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container slides-per-view="1" loop="true" autoplay-delay="5000" pagination="true">

  @for (anime of topAnimeLimited; track anime.mal_id) {
    <swiper-slide>
      <div class="banner" [style.background-image]="'url(' + anime.images.jpg.large_image_url + ')'">
        <h1>{{anime.title_english}}</h1>
      </div>
    </swiper-slide>
  }

  </swiper-container>

  <app-anime-row
    title="Seasonal Anime"
    [anime]="seasonalAnime">
  </app-anime-row>

  <app-anime-row
    title="Popular"
    [anime]="topAnime">
  </app-anime-row>

  <app-anime-row
    title="Upcoming"
    [anime]="upcomingAnime">
  </app-anime-row>
</ion-content>
